In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/Taj1920/Data-Analysis-Datasets/refs/heads/main/Datasets-Practice/hr_data.csv")
df

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

In [5]:
#label encoding

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['salary_encoded'] = le.fit_transform(df['salary'])

print(df[['salary', 'salary_encoded']].head())

   salary  salary_encoded
0     low               1
1  medium               2
2  medium               2
3     low               1
4     low               1

In [22]:
#one hot encoding

import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df = pd.read_csv("https://raw.githubusercontent.com/Taj1920/Data-Analysis-Datasets/refs/heads/main/Datasets-Practice/hr_data.csv")


ohe = OneHotEncoder(sparse_output=False)

# Fit and transform
encoded_data = ohe.fit_transform(df[['department']])

# Column names
encoded_columns = ohe.get_feature_names_out(['department'])

# Convert to dataframe
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

# Concatenate
df = pd.concat([df, encoded_df], axis=1)

# Drop original column
df.drop('department', axis=1, inplace=True)

print(df.head())

   employee_id  number_project  average_montly_hours  time_spend_company  \
0         1003               2                   157                   3
1         1005               5                   262                   6
2         1486               7                   272                   4
3         1038               5                   223                   5
4         1057               2                   159                   3

   Work_accident  left  promotion_last_5years  salary  department_IT  \
0              0     1                      0     low            0.0
1              0     1                      0  medium            0.0
2              0     1                      0  medium            0.0
3              0     1                      0     low            0.0
4              0     1                      0     low            0.0

   department_RandD  department_accounting  department_hr  \
0               0.0                    0.0            0.0
1               0.0                    0.0            0.0
2               0.0                    0.0            0.0
3               0.0                    0.0            0.0
4               0.0                    0.0            0.0

   department_management  department_marketing  department_product_mng  \
0                    0.0                   0.0                     0.0
1                    0.0                   0.0                     0.0
2                    0.0                   0.0                     0.0
3                    0.0                   0.0                     0.0
4                    0.0                   0.0                     0.0

   department_sales  department_support  department_technical
0               1.0                 0.0                   0.0
1               1.0                 0.0                   0.0
2               1.0                 0.0                   0.0
3               1.0                 0.0                   0.0
4               1.0                 0.0                   0.0

In [23]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# Load dataset
df = pd.read_csv("https://raw.githubusercontent.com/Taj1920/Data-Analysis-Datasets/refs/heads/main/Datasets-Practice/hr_data.csv")

# Create encoder
oe = OrdinalEncoder(categories=[['low', 'medium', 'high']])

# Fit and transform salary column
encoded_data = oe.fit_transform(df[['salary']])

# Replace original column
df['salary'] = encoded_data

print(df.head())

   employee_id  number_project  average_montly_hours  time_spend_company  \
0         1003               2                   157                   3
1         1005               5                   262                   6
2         1486               7                   272                   4
3         1038               5                   223                   5
4         1057               2                   159                   3

   Work_accident  left  promotion_last_5years department  salary
0              0     1                      0      sales     0.0
1              0     1                      0      sales     1.0
2              0     1                      0      sales     1.0
3              0     1                      0      sales     0.0
4              0     1                      0      sales     0.0